<h1>Car Simulator</h1>

<p>Car: <%= @car.car_name %></p>

<p>Speed: <%= @car_speed %> mph</p>

<p>Lights: <%= @car_lights %></p>

<!-- button for accelerating the car -->
<form class="car_simulator" action="accelerate_car" method="get">
  <input type="submit" value="Accelerate"/>
</form>

<!-- button for braking the car -->
<form class="" action="brake_car" method="get">
  <input type="submit" value="Brake"/>
</form>

<!-- button for turning the lights on and off -->
<form class="lights" action="lights_car" method="get">
  <input type="submit" value="Light Switch"/>
</form>

<!-- radio buttons for the parking brake -->

<p>Parking Brake: <%= @car_parking_brake %></p>
<form class="parking_brake" action="parking_brake_car" method="get">
  <input id="set_parking_brake" name="parking_brake" type="radio" value="set_release"/>
  <input type="submit" value="Set/Release">
</form>

<%= form_tag :action => 'parking_brake_car' do %>
  <%= radio_button_tag(:parking_brake, "pbrake") %>
  <%= submit_tag("Set/Release") %>
<% end %>
